<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{ site.title }}</h1>
        <nav>
          <a href="{{ '/' | relative_url }}">Home</a> |
          <a href="{{ '/about' | relative_url }}">About</a>
        </nav>
      </header>
      <main class="page-content">
        {{ content }}
        <div class="newsletter">
        <p>Get an email when I publish something new:</p>

        <form
          action="https://buttondown.com/api/emails/embed-subscribe/IBOS1"
          method="post"
         target="_blank"
          class="embeddable-buttondown-form"
        >
         <input
            type="email"
            name="email"
            placeholder="Type your email…"
            required
         />

         <input type="hidden" name="embed" value="1" />
         <button type="submit">Subscribe</button>
        </form>
      </div>
      </main>
    </div>
  </body>
</html>
